*{
    margin: 0;
    padding: 20px;
    padding-right: 50px;
    align-content: center;
}
.overall{
    background-image: linear-gradient(rgba(175, 168, 202, 0.8),rgba(155, 99, 116, 0.8)),url(./unnamed\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* padding-bottom: 30em;
    padding-left: 30em;
    justify-self: center; */
}
.overall p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 150px;
}
.header{
    padding: 50px;
    padding-left: 50px;
}
.buttons{
     display: flex; 
    border: black; 
     padding: 80px;
     
    /* text-align: center; */
    
}
.butt2 button{
    border: black;
    border-radius: 15px;
    
    
    
}

.butt1 button{
    border: black;
    border-radius: 15px;
   padding-right: 3em;
}

.fieldSpace{
    border:solid black;
    border-radius: 15px;
    width: 400px;
    height: 20px;
    padding-right: 50px;
    padding: 30px;

    
    /* text-align: center; */
    
    
}
.textbox input{
    display: flex;
    border: solid black;
    width: 200px;
    height: 20px;
    padding-top: 1em;
    
    
    /* align-content: center; */
    
}
.textbox{
    display: flex;
    padding: 50px;
    padding-right: 150px;
    padding-bottom: 5em;
}
.tabs{
    padding: 70px;
    padding-left: 50px;
}
.tabs input label{
    padding: 10em;
}
.errorMessage{
    color: darkred;
}
@media screen and (max-width:420px){
   .overall{
    flex-flow: column;
    /* width: 150px; */
    display: flex;
   }
   .textbox {
       display: flex;
       flex-flow: column;
   }
   .fieldSpace{
    width: 150px;
}
}
@media screen and (min-width: 420px) and (max-width:719px){
   .overall{
    flex-flow: column;
    display: block;
    
   }
   .fieldSpace{
       width: 150px;
   }
   .textbox{
       width: 150px;
   }
}
